body {
    color: white;
    background-color: black;
}

.main {
    margin: 1em;
}

#scoreboard h2 {
    white-space: nowrap;
}

.category {
    text-align: center;
    white-space: nowrap;
    background-color: blue !important;    
    user-select: none;
}

.clue {
    text-align: center;
    background-color: blue !important;
    user-select: none;
    cursor: hand;
}

.clue h1 {
    padding: 1.3vh 0 !important;
    font-size: 5em !important;
}

#current-clue {
    margin-top: 1em;
}

#current-clue .segment {
    height: 75vh;
    /*padding: 30vh 0 !important;*/
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: blue !important;
}

#current-clue h1 {
    font-size: 5em !important;
    text-align: center;
}

#current-clue i {
    padding: 38vh 0 !important;
    font-size: 25em !important;
    text-align: center;
}

#current-clue .actions {
    margin-top: 1em;
}

.score-box {
    border: black 1px;
}

.complete {
    color: gray;
}

