<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <title>Jeopardy</title>
</head>
<body>

<div class="ui container main" id="app">
    <!--    <h3>Team 1: 0</h3>-->
    <!--    <h3>Team 2: 0</h3>-->
    <!--    <h3>Team 3: 0</h3>-->

    <div class="ui five column grid" id="scoreboard">
        <div class="row">
            <div class="fourteen wide centered column">
                <div class="ui equal width grid">
                    <div class="column" v-for="t in teams">
                        <h2>{{t.name}} : {{getScore(t.id)}}</h2>
                    </div>
                </div>
            </div>
            <div class="two wide right floated column" style="text-align: right">
                <button v-if="!currentClue" class="ui tiny inverted basic button" v-on:click="editTeams()">Edit</button>
            </div>
        </div>
    </div>
    <div class="ui five column grid" id="game-board">
        <div class="ui column" v-for="c in categories">
            <div class="ui segment category">
                <h2>{{c.category}}</h2>
            </div>
            <div class="ui segment clue" v-bind:class="{complete: isComplete(c, i)}" v-for="i in c.clues"
                 v-on:click="showClue(c, i)">
                <h1>{{i.value}}</h1>
            </div>
        </div>
    </div>

    <div style="display: none" id="current-clue">
        <div class="ui segment" v-if="currentClue">
            <h1 v-if="showAnswer"> {{ currentClue.answer }}</h1>
            <h1 v-if="!showAnswer && currentClue.clue"> {{ currentClue.clue }}</h1>
            <i v-if="!showAnswer && currentClue.icon" class="ui icon" v-bind:class="[currentClue.icon]"></i>
        </div>
        <div class="score-box" v-if="currentClue">
            <div class="ui equal width grid">
                <div class="column" v-for="t in teams">
                    <div>
                        <b>{{t.name}}</b> :{{getScoreState(currentClue.hash, t.id)}}
                    </div>
                    <div class="ui tiny buttons">
                        <div class="ui green button" v-on:click="score(true, currentClue, t)">+</div>
                        <div class="ui grey button" v-on:click="score(null, currentClue, t)">.</div>
                        <div class="ui red button" v-on:click="score(false, currentClue, t)">-</div>
                    </div>
                </div>
            </div>
            <button class="ui black button" style="float: right" v-on:click="back()">Back</button>
            <button class="ui black button" style="float: right" v-on:click="toggleAnswer()">Show {{(showAnswer ? 'Clue' : 'Answer')}}</button>
        </div>
    </div>

    <div style="display: none" id="team-editor">
        <div class="ui segment">
            <div class="ui form">
                <div class="fields" v-for="t in teams">
                    <div class="field">
                        <input type="text" placeholder="Team Name" v-model="t.name">
                    </div>
                    <button class="ui tiny negative button" v-on:click="deleteTeam(t)">Delete</button>
                </div>
            </div>
            <div>
                <button class="ui button" v-on:click="addTeam()">Add Team</button>
            </div>
            <div class="ui secondary segment">
                <button class="ui button" v-on:click="saveTeams()">Save</button>
                <button class="ui button" v-on:click="cancelTeams()">Cancel</button>
                <button class="ui red button" style="float: right" v-on:click="resetScores()">Reset Scores</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="src/app.js"></script>
</html>
